## DB FOR LOCAL
# LOCAL DATABASE(DOCKER) URL
DATABASE_URL= # Example: postgresql://postgres:postgres@localhost:5433/chatbot
DIRECT_URL=SAME_AS_DATABASE_URL # Example: postgresql://postgres:postgres@localhost:5433/chatbot

## DB FOR PRODUCTION(NEON)
# DATABASE_URL=NEON_DATABASE_URL
# DIRECT_URL=NEON_DIRECT_URL

# OPEN_ROUTER
OPENROUTER_API_KEY=
OPENROUTER_MODEL=OPENAI_MODEL_NAME # Example: openai/gpt-oss-120b:free

# APP
NODE_ENV=development || production
ALLOWED_ORIGIN=FRONTEND(APP)_URL # Example: http://localhost:5173