## DB FOR LOCAL
# LOCAL DATABASE(DOCKER) URL
DATABASE_URL=

## DB FOR PRODUCTION(NEON)
# DATABASE_URL=NEON_DATABASE_URL
# DIRECT_URL=NEON_DIRECT_URL

# OPEN_ROUTER
OPENROUTER_API_KEY=
OPENROUTER_MODEL=OPENAI_MODEL_NAME # Example: openai/gpt-5-mini

# APP
NODE_ENV=development || production
ALLOWED_ORIGIN=FRONTEND(APP)_URL